@font-face {
    font-family: 'Aboreto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/aboreto/v2/5DCXAKLhwDDQ4N8bpKPUAg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/playfairdisplay/v30/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/playfairdisplay/v30/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

body{
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    font-family: Aboreto;
    font-weight: 500;
}

h2{
    font-family: Aboreto;
    font-weight: 400;
}

p{
    font-family: 'Playfair Display';
    font-weight: 400;
    margin-left: 12rem;
    margin-right: 12rem;
    text-align: center;
}

article{
    font-family: 'Playfair Display';
    font-weight: 400;
    text-align: center;
}

header{
    height: 3.5rem;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: rgb(116, 114, 240);
    text-align: right;
}

header ul{
    display: flex;
    justify-content: space-evenly;
}

li a{
    text-decoration: none;
    color: aliceblue;
}

.nav-bar{
    list-style-type: none;

}

.welcome{
    margin-top: 3rem;
    background-color: rgba(221, 103, 76, 0.74);
    height: 20rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    padding: 1rem;
}

.logo{
    opacity: 1;
    height: 100%;
    border-radius: 50%;
    
}

.about{
    display: flex;
    flex-direction: column;
    background-color: rgba(221, 103, 76, 0.74);
    color: aliceblue;
    align-items: center;
    padding: 1rem;
    width: 100%;
    
}

.services{
    background-color: rgba(221, 103, 76, 0.74);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 100%;
}
.packages{
    display: flex;
    justify-content: space-evenly;
   width: 75%;
}
.labor{
    width: 35%;
    display: flex;
    flex-direction: column;
}

.mom{
    border-radius: 2rem;
}

.postpartum{
    width: 35%;
    display: flex;
    flex-direction: column;
}

.baby{
    border-radius: 2rem;
}

.employees{
    display: flex;
    flex-direction: column;
    background-color: rgba(221, 103, 76, 0.74);
    align-items: center;
    color: aliceblue;
    padding: 1rem;
    width: 100%;
}

.contact{
    display: flex;
    flex-direction: column;   
    background-color: rgb(116, 114, 240);
    color: aliceblue;
    padding: 1rem;
    width: 100%;
}

.call{
    font-size: 1.2rem;
}